requests
scikit-learn~=1.2.2
dill~=0.3.6
pennylane~=0.30.0
--find-links https://download.pytorch.org/whl/cu116
torch~=2.0.0
torchvision
torchaudio
matplotlib
optuna==3.2.0
psycopg2
optuna-dashboard
pennylane-qiskit

numpy~=1.23.5
qiskit~=0.43.0
setuptools==67.8.0
lightning~=1.9.5

scipy
dimod
tqdm
dwave-system
