requests
scikit-learn
dill
pennylane
torch
torchvision
torchaudio
matplotlib
optuna
psycopg2
optuna-dashboard
pennylane-qiskit
numpy
qiskit
setuptools
lightning
scipy
dimod
tqdm
dwave-system
fastapi
uvicorn
