requests
scikit-learn~=1.2.2
dill~=0.3.6
pennylane
torch
torchvision
torchaudio
matplotlib
optuna==3.2.0
psycopg2
optuna-dashboard
pennylane-qiskit
numpy~=1.23.5
qiskit
qiskit-ibmq-provider
setuptools
lightning
scipy
dimod
tqdm
dwave-system

